$color-steel-gray: #1f1f2f;
$color-martinique: #38375b;
$color-bright-gray: #35364e;
$color-regent-gray: #8c96a9;
$color-ebony-clay: #2c2c44;
$color-cerulean: #009fe2;
$color-pickled-bluewood: #364161;
$color-aqua: #00f7ff;
