@import '@/assets/style/constant.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

strong {
    font-weight: 600;
}

.card {
    h3 {
        font-size: 15px;
        line-height: 24px;
        color: #fff;
        font-weight: 500;
        margin: 0;
    }
    sub {
        font-size: 11px;
        line-height: 20px;
        color: $color-regent-gray;
    }

    > .card-header,
    > .card-body {
        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .card-header {
        background-color: $color-bright-gray;
        padding: 16px 20px;
    }

    .card-body {
        background-color: $color-ebony-clay;
        padding: 16px 20px;
        font-size: 13px;
        line-height: 20px;
        color: $color-regent-gray;
        white-space: pre-line;
    }
}
